/node_modules
/public/hot
/public/storage
/public/images
/storage/*.key
.env
.env.backup
./vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
app/Http/Controllers/CrudController.php 
package-lock.json 
resources/views/offers/create.blade.php 
resources/views/power_stations/all.blade.php 
